<div class="card">
    <div class="card-body" [ngClass]="{'limit-height' : isLimit}">
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-center text-primary fw-bold">
                DATA BUKU
            </div>
            <a routerLink="/add-buku" class="btn btn-primary btn-sm">
                + BUKU
            </a>
        </div>

        <div class="table-responsive mt-3">
            <table class="pt-2 table-striped table table-bordered table-hover table-sm">
                <thead>
                    <tr class="text-primary" style="text-transform: uppercase;">
                        <th class="text-center">No</th>
                        <th>Judul</th>
                        <th>Harga</th>
                        <th>Diskon</th>
                        <th>Stok</th>
                        <th class="text-center">Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="bukuData; else dataFail">
                        <tr class="text-info" *ngFor="let buku of bukuData; index as i">
                            <td class="text-center">{{ i + 1}}</td>
                            <td>{{ buku.judul }}</td>
                            <td>{{ formatRp(buku.harga) }}</td>
                            <td>{{ buku.diskon + "%" }}</td>
                            <td>{{ buku.stok }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <button class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-outline-success btn-sm"><i class="fa fa-info-circle"></i></button>
                                  </div>
                            </td>
                        </tr>
                    </ng-container>

                    <ng-template #dataFail>
                        <tr class="text-info text-center">
                            <td colspan="999">No Data or Failed to Load</td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
    </div>
</div>